*.lst
*.obj
Thumbs.db
/psrp/list_creater/dict.txt
/psrp/list_creater/log.txt
/psrp/list_creater/log2.txt
/psrp/menu_creater/log.txt
/psrp/psg_encoder/*.bin
/psrp/rom_insert/*.bin
/psrp/rom_insert/menu_list.txt
/psrp/rom_insert/script_list.txt
/psrp/script_inserter/log.txt
BuildLog.htm
*.pch
*.idb
*.ncb
*.suo
/psrp/script_inserter/script1.txt
/psrp/script_inserter/script2.txt
/psrp/script_inserter/table_temp.tbl
/psrp/script_inserter/words_final.txt
/psrp/substring_formatter/dict.txt
/psrp/substring_formatter/log.txt
/psrp/substring_formatter/words.txt
/psrp/substring_formatter/words_final.txt
/psrp/word_count/stats.txt
/psrp/word_count/words.txt
.svn
/psrp/nmake.exe
*.sms
*.S00
*.zip
*.ips
/psrp/ps1jert.sms.o
/psrp/ps1jert.sym
*.exe
*.pdb
*.ilk
.vs
Debug
Release
*.vcxproj*
*.user
*.sln
/psrp/rom_insert/*.asm
/psrp/script_inserter/*.bin
/psrp/script_inserter/script_list.txt
/psrp/substring_formatter/words.asm
/psrp/substring_formatter/words.tbl
/psrp/rom_insert/*.psgcompr
/psrp/new_graphics/*.bin
/psrp/psg_encoder/*.psgcompr
